/* =============================================================

	Astro Basic 4.0
	Mobile-first navigation patterns by Chris Ferdinandi.
	http://gomakethings.com

	Free to use under the MIT License.
	http://gomakethings.com/mit/

 * ============================================================= */
/*  Center all navigation elements */
.nav-wrap {
  text-align: center;
}

/*  For text-based logo, override default link styling.
 *  If .logo and .nav don't align properly,
 *  adjust the .logo line-height. */
.logo {
  display: inline-block;
  font-size: 1.2em;
  line-height: 1.2;
  color: #272727;
  margin-bottom: 0.5em;
  text-decoration: none;
}

/*  For text-based logo, override default link hover styling */
.logo:hover {
  color: #272727;
  text-decoration: none;
}

/*  Remove default list styling for navigation list */
.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*  Display navigation items as inline-block elements.
 *  Add slight margin between each navigation item. */
.nav > li {
  display: inline-block;
  float: none;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

/*  Remove margin-left on first navigation item */
.nav > li:first-child {
  margin-left: 0;
}

/*  Remove margin-right on last navigation item */
.nav > li:last-child {
  margin-right: 0;
}

/*  Placeholder for active link styling */
/*  .nav > li.active > a { */
/*      Add your styles here */
/*  } */
/*  Hide the navigation toggle menu button by default.
 *  Only needed for expand-and-collapse option. */
.nav-toggle {
  display: none;
  visibility: hidden;
}
