/**
 *
 * Astro Basic Left Plus v5.1.0
 * Mobile-first navigation patterns by Chris Ferdinandi.
 * http://github.com/cferdinandi/astro
 *
 * Free to use under the MIT License.
 * http://gomakethings.com/mit/
 *
 */

/*  For text-based logo, override default link styling.
 *  If .logo and .nav don't align properly,
 *  adjust the .logo line-height. */
.logo-basic-left {
	display: inline-block;
	font-size: 1.2em;
	line-height: 1.2;
	color: $color-black;
	margin-bottom: calc-em(8px);
	text-decoration: none;
}

/*  For text-based logo, override default link hover styling */
.logo-basic-left:hover {
	color: $color-black;
	text-decoration: none;
}

/*  Remove default list styling for navigation list */
.nav-basic-left {
	list-style: none;
	margin: 0 calc-em(-8px);
	padding: 0;
}

/*  Display navigation items as inline-block elements.
 *  Add slight margin between each navigation item. */
.nav-basic-left > li {
	display: inline-block;
	float: none;
	margin-left: calc-em(8px);
	margin-right: calc-em(8px);
}

/*  Placeholder for active link styling */
/*  .nav-basic-left > li.active > a { */
/*      Add your styles here */
/*  } */

/*  Hide the navigation toggle menu button by default.
 *  Only needed for expand-and-collapse option. */
.nav-toggle-basic-left {
	display: none;
	visibility: hidden;
}


/*  Expand-and-Collapse styling for smaller screens.
 *  Remove if not using.
 *  Change max-width to fit your project. */
@media (max-width: $bp-medium) {

	/*  .js-astro prefix ensure content is only hidden when JavaScript is supported.
	 *  This requires on the included js-accessibility.js-astro script. */

	/*  Display navigation toggle button if javascript is supported */
	.js-astro .nav-collapse .nav-toggle-basic-left {
		display: block;
		visibility: visible;
		float: right;
	}

	/*  Hide navigation items if javascript is supported */
	.js-astro .nav-collapse .nav-menu-basic-left {
		max-height: 0;
		overflow: hidden;
		/*  CSS3 animation for when menu content expands */
		transition: all 0.35s ease-in;
	}

	/*  When collapsed element has the .active class, show it
	 *  Uses max-height instead of display: none to allow for
	 *  CSS3 animations, which don't work on display values. */
	.js-astro .nav-collapse .nav-menu-basic-left.active {
		max-height: 999em;
	}

	/*  Display navigation items as full-width, stacked blocks when javascript supported */
	.js-astro .nav-collapse .nav-menu-basic-left li {
		display: block;
		width: 100%;
		padding-top: calc-em(4px);
		padding-bottom: calc-em(4px);
		box-sizing: border-box;
	}

}