/**
 * Text Alignment
 */
.nav-wrap-basic {
	text-align: center;
}


/**
 * Logo
 */
.logo-basic {
	color: $color-black;
	display: block;
	font-size: 1.2em;
	line-height: 1.2;
	margin-bottom: calc-em(8px);
	text-decoration: none;

	&:hover {
		color: $color-black;
		text-decoration: none;
	}
}


/**
 * Navigation Menu Container
 */
.nav-menu-basic {

	@media (max-width: $bp-medium) {
		.js-astro .nav-collapse & {
			display: none;

			&.active {
				display: block;
			}

			li {
				box-sizing: border-box;
				display: block;
				margin-left: 0;
				margin-right: 0;
				padding-top: calc-em(4px);
				padding-bottom: calc-em(4px);
				width: 100%;
			}
		}
	}

}


/**
 * Navigation Menu
 */
.nav-basic {
	list-style: none;
	margin: 0 calc-em(-8px);
	padding: 0;

	& > li {
		display: inline-block;
		float: none;
		margin-left: calc-em(8px);
		margin-right: calc-em(8px);

		// Active link styling
		&.active > a {}
	}
}


/**
 * Navigation Toggle
 */
.nav-toggle-basic {
	display: none;
	visibility: hidden;

	@media (max-width: $bp-medium) {
		.js-astro .nav-collapse & {
			display: block;
			visibility: visible;
		}
	}
}